@import "../../../globals.scss";

.profile-container {
  @include content-padding;
  margin-top: 40px;
  padding: 0 var(--contentPadding);
  display: flex;
  flex-direction: column;
  .profile-content {
    margin-top: 60px;
    .article-card {
      margin-bottom: 20px;
    }
  }
  &-profile-card {
    &-switches {
      background: var(--cardSurfaceLight);
      display: flex;
      margin-top: 30px;
      &-button {
        outline: none;
        border: none;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
          h3 {
            color: var(--primary);
          }
        }
        padding: 16px 40px;
        &:last-child {
          border-left: 4px solid var(--cardSurfaceDark);
        }
      }
    }
  }

  @media (min-width: 760px) {
    .profile-content {
      margin-top: 0;
      flex: 7;
      margin-right: 80px;
    }

    &-profile-card {
      flex: 4;
    }
  }
}
