@import "../globals.scss";

.wanda-body {
  margin-top: 60px;
  @include content-padding;
  .content-body {
    & > h1 {
      color: var(--primary);
      text-transform: uppercase;
      margin-bottom: 40px;
    }
  &-content {
    @media (min-width: 760px) {
      max-width: 70%;
    }
    .article-card {
      margin-bottom: 20px;
    }
  }
  }
}
